@font-face {
  font-family: "rust";
  src: url(./../assets/fonts/rust/Rust.ttf);
}

.rust {
  font-family: "rust", sans-serif;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.large {
  font-size: 9rem;
}

.mid {
  font-size: 7rem;
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.blur {
  backdrop-filter: blur(30px);
  background: hsla(0, 0%, 100%, 0.55);
}

.hover:hover {
  color: #b02a37;
  transition: 0.2s;
}

input[type="checkbox"] {
  accent-color: #dc3545 !important;
}

.margintop {
  margin-top: 200px;
}
